.loader {
  position: absolute;
  top: calc(50% - 3.75em);
  left: calc(50% - 3.75em);
  width: 7.5em; /* Increased from 2.5em to 7.5em */
  height: 7.5em; /* Increased from 2.5em to 7.5em */
  transform: rotate(165deg);
}

.loader:before,
.loader:after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  display: block;
  width: 1.5em; /* Increased from 0.5em to 1.5em */
  height: 1.5em; /* Increased from 0.5em to 1.5em */
  border-radius: 0.75em; /* Increased from 0.25em to 0.75em */
  transform: translate(-50%, -50%);
}

.loader:before {
  animation: before8 2s infinite;
}

.loader:after {
  animation: after6 2s infinite;
}

@keyframes before8 {
  0% {
    width: 1.5em;
    box-shadow: 3em -1.5em rgba(225, 20, 98, 0.75),
      -3em 1.5em rgba(111, 202, 220, 0.75);
  }

  35% {
    width: 7.5em;
    box-shadow: 0 -1.5em rgba(225, 20, 98, 0.75),
      0 1.5em rgba(111, 202, 220, 0.75);
  }

  70% {
    width: 1.5em;
    box-shadow: -3em -1.5em rgba(225, 20, 98, 0.75),
      3em 1.5em rgba(111, 202, 220, 0.75);
  }

  100% {
    box-shadow: 3em -1.5em rgba(225, 20, 98, 0.75),
      -3em 1.5em rgba(111, 202, 220, 0.75);
  }
}

@keyframes after6 {
  0% {
    height: 1.5em;
    box-shadow: 1.5em 3em rgba(61, 184, 143, 0.75),
      -1.5em -3em rgba(233, 169, 32, 0.75);
  }

  35% {
    height: 7.5em;
    box-shadow: 1.5em 0 rgba(61, 184, 143, 0.75),
      -1.5em 0 rgba(233, 169, 32, 0.75);
  }

  70% {
    height: 1.5em;
    box-shadow: 1.5em -3em rgba(61, 184, 143, 0.75),
      -1.5em 3em rgba(233, 169, 32, 0.75);
  }

  100% {
    box-shadow: 1.5em 3em rgba(61, 184, 143, 0.75),
      -1.5em -3em rgba(233, 169, 32, 0.75);
  }
}
