.button {
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  font-size: 14px;
  background-image: linear-gradient(#3470fa, #313ed7);
  color: white;
  height: 50px;
  padding: 0px 20px;
  border-radius: 5px;
  font-weight: 600;
  transform: scale(0.89);
  position: relative;
}
.button:not(:hover) .hide,
.button:not(:hover) .icon::before,
.button:not(:hover) .icon::after {
  opacity: 0;
  visibility: hidden;
  transform: scale(2);
}
.hide {
  transition: all 0.2s ease;
}
.button:active {
  background-image: linear-gradient(#313ed7, #3470fa);
  border-color: #313ed7;
}
.icon {
  position: relative;
}
.icon::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 6px;
  height: 6px;
  transform: translate(-50%, -50%);
  background-color: #000;
  border-radius: 100%;
}
.icon::after {
  content: "";
  position: absolute;
  right: 0;
  bottom: 0;
  transform: translate(-19%, -60%);
  width: 100px;
  height: 33px;
  background-color: transparent;
  border-radius: 12px 22px 2px 2px;
  border-right: solid 2px #000;
  border-top: solid 2px transparent;
}
.icon .text_icon {
  color: #fff;
  background-color: rgb(54, 136, 237);
  padding: 10px 17px;
  border-radius: 100px;
  position: absolute;
  font-size: 16px;
  font-weight: 700;
  left: -110px;
  top: -60px;
}
.icon svg {
  width: 20px;
  height: 20px;
  border: solid 2px transparent;
  display: flex;
}

.padding_left {
  position: absolute;
  width: 20px;
  height: 2px;
  background-color: #000;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
}
.padding_left:before {
  content: "";
  height: 10px;
  background-color: #000;
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
}
.padding_left:after {
  content: "";
  height: 10px;
  background-color: #000;
  position: absolute;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
}
.padding_left_line {
  position: absolute;
  width: 30px;
  height: 2px;
  background-color: #000;
  left: -24px;
  top: 11px;
  transform: rotate(-50deg);
}
.padding_left_line::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 6px;
  height: 6px;
  transform: translate(-50%, -50%);
  background-color: #000;
  border-radius: 100%;
}
.padding_left_text {
  color: #fff;
  background-color: rgb(54, 136, 237);
  padding: 10px 17px;
  border-radius: 100px;
  font-size: 16px;
  font-weight: 700;
  position: absolute;
  white-space: nowrap;
  transform: rotate(50deg);
  bottom: 50px;
  left: -160px;
}

.padding_right {
  position: absolute;
  width: 15px;
  height: 15px;
  border: solid 2px #000;
  right: 70px;
  bottom: -5px;
  transform: rotate(50deg);
}
.padding_right:before {
  content: "";
  height: 10px;
  background-color: #000;
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
}
.padding_right:after {
  content: "";
  height: 10px;
  background-color: #000;
  position: absolute;
  right: 0;
  bottom: 50%;
  transform: translateY(-50%);
}
.padding_right_line {
  position: absolute;
  width: 20px;
  height: 2px;
  background-color: #000;
  right: -20px;
  top: 5px;
}
.padding_right_line::before {
  content: "";
  position: absolute;
  left: 22px;
  top: 0;
  width: 6px;
  height: 6px;
  transform: translate(-50%, -50%);
  background-color: #000;
  border-radius: 100%;
}

.padding_right_text {
  color: #fff;
  background-color: rgb(54, 136, 237);
  padding: 10px 17px;
  border-radius: 100px;
  font-size: 16px;
  font-weight: 700;
  position: absolute;
  white-space: nowrap;
  transform: rotate(-50deg);
  bottom: -5px;
  left: 14px;
}
.background {
  position: absolute;
}
.background::before {
  content: "";
  position: absolute;
  right: 27px;
  bottom: -70px;
  width: 100px;
  height: 53px;
  background-color: transparent;
  border-radius: 0px 0px 22px 22px;
  border-right: solid 2px #000;
  border-bottom: solid 2px transparent;
}
.background::after {
  content: "";
  position: absolute;
  right: 25px;
  bottom: -20px;
  width: 6px;
  height: 6px;
  background-color: #000;
  border-radius: 100%;
}
.background_text {
  color: #fff;
  background-color: rgb(54, 136, 237);
  padding: 10px 17px;
  border-radius: 100px;
  font-size: 16px;
  font-weight: 700;
  position: absolute;
  bottom: -80px;
  left: -116px;
}
.border {
  position: absolute;
  right: 0;
  top: 0;
}
.border:before {
  content: "";
  width: 15px;
  height: 15px;
  border: solid 2px #000;
  position: absolute;
  right: 40px;
  top: 0;
  transform: translate(50%, -50%);
  border-radius: 100%;
}
.border:after {
  content: "";
  width: 2px;
  height: 25px;
  background-color: #000;
  position: absolute;
  right: 30px;
  top: -15px;
  transform: translate(50%, -50%) rotate(50deg);
}
.border .border_text::before {
  content: "";
  position: absolute;
  left: 30px;
  bottom: -12px;
  width: 6px;
  height: 6px;
  transform: translate(-50%, -50%);
  background-color: #000;
  border-radius: 100%;
}
.border .border_text {
  position: absolute;
  color: #fff;
  background-color: rgb(54, 136, 237);
  padding: 10px 17px;
  border-radius: 100px;
  font-size: 16px;
  font-weight: 700;
  right: -105px;
  top: -70px;
  white-space: nowrap;
}
